/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

select.error {margin-bottom:0 !important;}
label.error {color:#DE4747 !important; font-size:12px; margin-bottom:0 !important; text-align:left !important;}
label.error i {border:0 none; color:#DE4747 !important; padding:0; position:inherit !important;}